In [122]:
#Import pandas library
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

In [125]:
#request for a web site site tto scrall web data
res= requests.get("https://www.worldometers.info/coronavirus/")

In [126]:
soup=BeautifulSoup(res.content,'lxml')

In [127]:
table=soup.find_all('table')[0]

In [128]:
df= pd.read_html(str(table))
#df.to_csv(r'C:\Users\RamaKrishna\Desktop\covid_19.csv')
#df.to_csv("C:\Users\RamaKrishna\Desktop\covid_19.csv")

In [129]:
#print(df[0].to_json(orient='records'))
print(tabulate(df[0], headers='keys', tablefmt='psql'))

+-----+------------------------+--------------+------------+---------------+-------------+------------------+---------------+--------------------+--------------------+-----------------+------------------+-----------------+
|     | Country,Other          |   TotalCases | NewCases   |   TotalDeaths |   NewDeaths |   TotalRecovered |   ActiveCases |   Serious,Critical |   Tot Cases/1M pop |   Deaths/1M pop |       TotalTests |   Tests/ 1M pop |
|-----+------------------------+--------------+------------+---------------+-------------+------------------+---------------+--------------------+--------------------+-----------------+------------------+-----------------|
|   0 | World                  |      1435092 | +4,173     |         82191 |         157 |           302989 |       1049912 |              47958 |              184   |           10.5  |    nan           |             nan |
|   1 | USA                    |       400549 | +214       |         12857 |          16 |            21711 |        365981 |               9169 |             1210   |           39    |      2.08244e+06 |            6291 |
|   2 | Spain                  |       141942 | nan        |         14045 |         nan |            43208 |         84689 |               7069 |             3036   |          300    | 355000           |            7593 |
|   3 | Italy                  |       135586 | nan        |         17127 |         nan |            24392 |         94067 |               3792 |             2243   |          283    | 755445           |           12495 |
|   4 | France                 |       109069 | nan        |         10328 |         nan |            19337 |         79404 |               7131 |             1671   |          158    | 224254           |            3436 |
|   5 | Germany                |       107663 | nan        |          2016 |         nan |            36081 |         69566 |               4895 |             1285   |           24    | 918460           |           10962 |
|   6 | Iran                   |        62589 | nan        |          3872 |         nan |            27039 |         31678 |               3987 |              745   |           46    | 211136           |            2514 |
|   7 | UK                     |        55242 | nan        |          6159 |         nan |              135 |         48948 |               1559 |              814   |           91    | 266694           |            3929 |
|   8 | Turkey                 |        34109 | nan        |           725 |         nan |             1582 |         31802 |               1474 |              404   |            9    | 222868           |            2643 |
|   9 | Switzerland            |        22328 | +75        |           824 |           3 |             8704 |         12800 |                391 |             2580   |           95    | 167429           |           19346 |
|  10 | Belgium                |        22194 | nan        |          2035 |         nan |             4157 |         16002 |               1260 |             1915   |          176    |  80512           |            6947 |
|  11 | Netherlands            |        19580 | nan        |          2101 |         nan |              250 |         17229 |               1424 |             1143   |          123    |  86589           |            5053 |
|  12 | Canada                 |        17897 | nan        |           381 |         nan |             4028 |         13488 |                426 |              474   |           10    | 348105           |            9223 |
|  13 | Brazil                 |        14049 | +15        |           688 |           2 |              127 |         13234 |                296 |               66   |            3    |  54824           |             258 |
|  14 | Austria                |        12721 | +82        |           273 |          30 |             4512 |          7936 |                267 |             1412   |           30    | 120755           |           13408 |
|  15 | Portugal               |        12442 | nan        |           345 |         nan |              184 |         11913 |                271 |             1220   |           34    | 121256           |           11892 |
|  16 | S. Korea               |        10384 | +53        |           200 |           8 |             6776 |          3408 |                 55 |              203   |            4    | 477304           |            9310 |
|  17 | Israel                 |         9404 | +156       |            71 |           6 |              801 |          8532 |                147 |             1086   |            8    | 117339           |           13557 |
|  18 | Russia                 |         8672 | +1,175     |            63 |           5 |              580 |          8029 |                  8 |               59   |            0.4  | 910221           |            6237 |
|  19 | Sweden                 |         7693 | nan        |           591 |         nan |              205 |          6897 |                640 |              762   |           59    |  54700           |            5416 |
|  20 | Norway                 |         6086 | nan        |            89 |         nan |               32 |          5965 |                 78 |             1123   |           16    | 113896           |           21009 |
|  21 | Australia              |         6010 | +22        |            50 |           1 |             2547 |          3413 |                 89 |              236   |            2    | 318064           |           12473 |
|  22 | Ireland                |         5709 | nan        |           210 |         nan |               25 |          5474 |                165 |             1156   |           43    |  42484           |            8604 |
|  23 | Denmark                |         5386 | +315       |           203 |         nan |             1491 |          3692 |                127 |              930   |           35    |  58419           |           10086 |
|  24 | India                  |         5360 | +9         |           164 |           4 |              468 |          4728 |                nan |                4   |            0.1  | 140293           |             102 |
|  25 | Chile                  |         5116 | nan        |            43 |         nan |              898 |          4175 |                337 |              268   |            2    |  57122           |            2988 |
|  26 | Czechia                |         5033 | +16        |            91 |           3 |              181 |          4761 |                103 |              470   |            8    |  98681           |            9215 |
|  27 | Poland                 |         5000 | +152       |           136 |           7 |              191 |          4673 |                 50 |              132   |            4    |  92215           |            2437 |
|  28 | Romania                |         4417 | nan        |           207 |          10 |              460 |          3750 |                274 |              230   |           11    |  43578           |            2265 |
|  29 | Japan                  |         4257 | nan        |            93 |         nan |              622 |          3542 |                 80 |               34   |            0.7  |  55311           |             437 |
|  30 | Pakistan               |         4072 | +37        |            58 |           1 |              467 |          3547 |                 25 |               18   |            0.3  |  42159           |             191 |
|  31 | Ecuador                |         3995 | nan        |           220 |         nan |              140 |          3635 |                156 |              226   |           12    |  14406           |             817 |
|  32 | Malaysia               |         3963 | nan        |            63 |         nan |             1321 |          2579 |                 92 |              122   |            2    |  55566           |            1717 |
|  33 | Philippines            |         3870 | +106       |           182 |           5 |               96 |          3592 |                  1 |               35   |            2    |  24500           |             224 |
|  34 | Luxembourg             |         2970 | nan        |            44 |         nan |              500 |          2426 |                 35 |             4745   |           70    |  25702           |           41059 |
|  35 | Peru                   |         2954 | nan        |           107 |         nan |             1301 |          1546 |                109 |               90   |            3    |  21555           |             654 |
|  36 | Saudi Arabia           |         2795 | nan        |            41 |         nan |              615 |          2139 |                 41 |               80   |            1    |    nan           |             nan |
|  37 | Mexico                 |         2785 | +346       |           141 |          16 |              633 |          2011 |                 89 |               22   |            1    |  25410           |             197 |
|  38 | Indonesia              |         2738 | nan        |           221 |         nan |              204 |          2313 |                nan |               10   |            0.8  |  14354           |              52 |
|  39 | Finland                |         2487 | +179       |            34 |         nan |              300 |          2153 |                 81 |              449   |            6    |  34900           |            6299 |
|  40 | Serbia                 |         2447 | nan        |            61 |         nan |              118 |          2268 |                109 |              280   |            7    |   9626           |            1102 |
|  41 | Thailand               |         2369 | +111       |            30 |           3 |              888 |          1451 |                 61 |               34   |            0.4  |  71860           |            1030 |
|  42 | UAE                    |         2359 | nan        |            12 |         nan |              186 |          2161 |                  1 |              239   |            1    | 220000           |           22244 |
|  43 | Panama                 |         2249 | +149       |            59 |           4 |               16 |          2174 |                 91 |              521   |           14    |  10297           |            2386 |
|  44 | Qatar                  |         2057 | nan        |             6 |         nan |              150 |          1901 |                 37 |              714   |            2    |  41818           |           14515 |
|  45 | Dominican Republic     |         1956 | nan        |            98 |         nan |               36 |          1822 |                147 |              180   |            9    |   4542           |             419 |
|  46 | Greece                 |         1832 | nan        |            81 |         nan |              269 |          1482 |                 90 |              176   |            8    |  28584           |            2742 |
|  47 | Colombia               |         1780 | nan        |            50 |         nan |              100 |          1630 |                 76 |               35   |            1    |  30445           |             598 |
|  48 | South Africa           |         1749 | nan        |            13 |         nan |               95 |          1641 |                  7 |               29   |            0.2  |  58098           |             980 |
|  49 | Argentina              |         1715 | nan        |            60 |         nan |              338 |          1317 |                 96 |               38   |            1    |  11778           |             261 |
|  50 | Ukraine                |         1668 | +206       |            52 |           7 |               35 |          1581 |                 16 |               38   |            1    |   7205           |             165 |
|  51 | Iceland                |         1586 | nan        |             6 |         nan |              559 |          1021 |                 11 |             4648   |           18    |  28991           |           84957 |
|  52 | Singapore              |         1481 | nan        |             6 |         nan |              377 |          1098 |                 29 |              253   |            1    |  65000           |           11110 |
|  53 | Algeria                |         1468 | nan        |           193 |         nan |              113 |          1162 |                 46 |               33   |            4    |   3359           |              77 |
|  54 | Egypt                  |         1450 | nan        |            94 |         nan |              276 |          1080 |                nan |               14   |            0.9  |  25000           |             244 |
|  55 | Croatia                |         1282 | nan        |            18 |         nan |              167 |          1097 |                 35 |              312   |            4    |  12322           |            3002 |
|  56 | New Zealand            |         1210 | +50        |             1 |         nan |              282 |           927 |                  4 |              251   |            0.2  |  46875           |            9721 |
|  57 | Estonia                |         1185 | +36        |            24 |           3 |               72 |          1089 |                 11 |              893   |           18    |  24813           |           18705 |
|  58 | Morocco                |         1184 | nan        |            90 |         nan |               93 |          1001 |                  1 |               32   |            2    |   5437           |             147 |
|  59 | Iraq                   |         1122 | nan        |            65 |         nan |              373 |           684 |                nan |               28   |            2    |  26331           |             655 |
|  60 | Belarus                |         1066 | +205       |            13 |         nan |               77 |           976 |                 33 |              113   |            1    |  46000           |            4868 |
|  61 | Slovenia               |         1059 | nan        |            36 |         nan |              102 |           921 |                 30 |              509   |           17    |  29455           |           14168 |
|  62 | Moldova                |         1056 | nan        |            24 |           2 |               40 |           992 |                 80 |              262   |            6    |   5108           |            1266 |
|  63 | Hong Kong              |          961 | +25        |             4 |         nan |              264 |           693 |                 14 |              128   |            0.5  |  96709           |           12900 |
|  64 | Lithuania              |          912 | +32        |            15 |         nan |                8 |           889 |                 11 |              335   |            6    |  30108           |           11060 |
|  65 | Hungary                |          895 | +78        |            58 |          11 |               94 |           743 |                 17 |               93   |            6    |  25748           |            2665 |
|  66 | Armenia                |          881 | +28        |             9 |           1 |              114 |           758 |                 30 |              297   |            3    |   5452           |            1840 |
|  67 | Bahrain                |          811 | nan        |             5 |         nan |              465 |           341 |                  3 |              477   |            3    |  50320           |           29573 |
|  68 | Bosnia and Herzegovina |          777 | +13        |            33 |         nan |               77 |           667 |                  4 |              237   |           10    |   6911           |            2106 |
|  69 | Kuwait                 |          743 | nan        |             1 |         nan |              105 |           637 |                 23 |              174   |            0.2  |    nan           |             nan |
|  70 | Azerbaijan             |          717 | nan        |             8 |         nan |               44 |           665 |                 23 |               71   |            0.8  |  53300           |            5257 |
|  71 | Diamond Princess       |          712 | nan        |            11 |         nan |              619 |            82 |                 10 |              nan   |          nan    |    nan           |             nan |
|  72 | Kazakhstan             |          709 | +12        |             7 |           1 |               53 |           649 |                 21 |               38   |            0.4  |  56775           |            3024 |
|  73 | Cameroon               |          685 | nan        |             9 |         nan |               60 |           616 |                nan |               26   |            0.3  |    nan           |             nan |
|  74 | Tunisia                |          623 | nan        |            23 |         nan |               25 |           575 |                 67 |               53   |            2    |   8274           |             700 |
|  75 | North Macedonia        |          599 | nan        |            26 |         nan |               30 |           543 |                 15 |              288   |           12    |   5879           |            2822 |
|  76 | Bulgaria               |          581 | +4         |            23 |         nan |               42 |           516 |                 21 |               84   |            3    |  15899           |            2288 |
|  77 | Slovakia               |          581 | nan        |             2 |         nan |               13 |           566 |                  3 |              106   |            0.4  |  17639           |            3231 |
|  78 | Latvia                 |          577 | +29        |             2 |         nan |               16 |           559 |                  5 |              306   |            1    |  24036           |           12743 |
|  79 | Lebanon                |          548 | nan        |            19 |         nan |               62 |           467 |                 29 |               80   |            3    |  10221           |            1497 |
|  80 | Andorra                |          545 | nan        |            22 |         nan |               39 |           484 |                 17 |             7054   |          285    |   1673           |           21653 |
|  81 | Uzbekistan             |          534 | +14        |             3 |           1 |               30 |           501 |                  8 |               16   |            0.09 |    nan           |             nan |
|  82 | Cyprus                 |          494 | nan        |             9 |         nan |               47 |           438 |                 13 |              409   |            7    |  13017           |           10781 |
|  83 | Costa Rica             |          483 | nan        |             2 |         nan |               24 |           457 |                 14 |               95   |            0.4  |   5525           |            1085 |
|  84 | Uruguay                |          424 | nan        |             7 |         nan |              150 |           267 |                 14 |              122   |            2    |   5727           |            1649 |
|  85 | Afghanistan            |          423 | nan        |            14 |         nan |               18 |           391 |                nan |               11   |            0.4  |    nan           |             nan |

In [120]:
#df.to_excel('covid_19.xlsx')
#df.savetxt(r'C:\Users\RamaKrishna\Desktop\np.txt', df.values, fmt='%d', delimiter='\t')
#df = pd.read_excel(r'C:\Users\RamaKrishna\Desktop\covid_19.xlsx', sheet_name='covid_19', index = False)

In [130]:
df.to_csv (r'C:\Users\RamaKrishna\Desktop\covid_19.xlsx', index = False, header=True)

AttributeError: 'list' object has no attribute 'to_csv'

In [ ]:
AttributeError: 'list' object has no attribute 'to_csv'